$yellow: #ffc234;

.spirit-page {
    // width: 375px;
    background: url("../../assets/images/Frame 427320168.png") repeat;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #797979;
    min-height: 100vh;
    .btn-yellow {
        cursor: pointer;
        background: $yellow;
        border-radius: 25px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        padding: 16px 0;
        text-decoration: none;
    }

    .btn-black {
        color: #fff;
        background: #000;
        border-radius: 25px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        padding: 16px 0;
        text-decoration: none;
    }

    .section-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #0d0e10;
        margin-bottom: 20px;
    }

    .safe-area {
        padding: 0 24px;
        max-width: 420px;
        margin: 0 auto;
    }
    .area-first {
        padding: 52px 24px;
    }
    // step 0
    .icon-unknown {
        width: 95%;
        margin-bottom: 21px;
    }

    .sponsors {
        display: flex;
        align-items: center;
        gap: 21px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .spirit-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #0d0e10;
        margin-bottom: 10px;
    }
    .spirit-desc {
        margin-bottom: 20px;
    }
    .btn-discover {
        display: block;
        position: relative;
        box-shadow: 0 16px 20px -6px rgba($yellow, 0.6);
        margin-bottom: 48px;
    }
    .connect-hint {
        font-size: 11px;
        color: #8c8c8c;
    }

    //step 1
    .zzoopers-title {
        font-weight: 500;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        color: #a3a9af;
        padding-top: 44px;
        margin-bottom: 10px;
    }
    .walking-tiger {
        width: 160px;
        height: 160px;
        margin: 0 auto 10px;
    }
    .analysing-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #0d0e10;
        margin-bottom: 10px;
        animation: shine 1.5s infinite;
    }
    .analysing-desc {
        padding: 0 24px;
        margin-bottom: 74px;
    }
    .barrage-area {
        width: 100%;
        overflow: hidden;
        padding-bottom: 64px;
        .barrage-item {
            text-align: center;
            margin-bottom: 20px;
            display: block;
            white-space: nowrap;
        }
        .barrage-tip {
            display: inline-block;
            background: #f4f4f4;
            border-radius: 26px;
            padding: 10px 20px;
            color: #0d0e10;

            font-weight: 700;
            font-size: 12px;
            line-height: 150%;
        }
        .item-1 {
            animation: toRight 4s linear infinite;
        }
        .item-2 {
            animation: toLeft 6s linear infinite;
        }
        .item-3 {
            animation: toRight 7s linear infinite;
        }
        .item-4 {
            animation: toLeft 9s linear infinite;
        }
    }

    // step 2
    .step-2 {
        padding: 44px 0;
    }

    .result-avatar {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .result-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #0d0e10;
        margin-bottom: 10px;
    }
    .result-desc {
        .highlight {
            color: #0d0e10;
            font-weight: 700;
        }
    }
    .free-chance {
        padding: 44px 0 30px;
        background: url("../../assets/images/spirit/free-chance-bg.png") no-repeat;
        background-size: 100%;
        @media (min-width: 768px){
            background-size:50%;
            background-position: center;
        }
    }
    .free-chance-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.4px;
        color: #ff7e21;
        margin-bottom: 20px;
    }
    .qualified-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.4px;
        margin-bottom: 20px;
        color: #ff7e21;
    }
    .free-chance-desc {
        padding: 0 20px;
        .highlight {
            color: #0d0e10;
            font-weight: 700;
        }
        .btn-rule {
            color: #ff7e21;

            text-decoration: underline;
            cursor: pointer;
        }
    }
    .actions-line {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 40px;
        a {
            flex: 1;
            padding: 14px 0;
        }
    }
    .my-collections {
        margin-bottom: 30px;
        .collection-list {
            display: flex;
            flex-wrap: wrap;
            .collection-item-wrapper {
                width: 20%;
                padding: 5px;
                .collection-item {
                    position: relative;
                    .num {
                        background: $yellow;
                        border-radius: 0px 0px 0px 10px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 1px 6px 2px 5px;

                        font-weight: 700;
                        font-size: 11px;
                        line-height: 12px;
                        text-align: center;
                        letter-spacing: -0.4px;
                        color: #000000;
                    }
                    &.empty {
                        &::after {
                            content: "";
                            display: block;
                            background: rgba(255, 255, 255, 0.8);
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .my-invitations {
        .invitation-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            text-align: left;
            .address {
                font-weight: 700;
                font-size: 14px;
                line-height: 120%;
                color: #0d0e10;
                margin-bottom: 4px;
            }
            .date {
                font-weight: 400;
                font-size: 12px;
                line-height: 120%;
                color: #797979;
            }
            .icon {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@keyframes toRight {
    0% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(400px);
    }
}

@keyframes toLeft {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(-400px);
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
