.hero {
    // padding: 126px 0 50px;
    padding: 0 !important;
    .hero-content {
        min-height: 100vh;
        padding-top: 76px;
        display: flex;
        align-items: center;
        .left {
            width: 55%;
        }
        .right {
            width: 45%;
        }
    }
    .subtitle {
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: 4px;
        color: #ffffff;
        margin-bottom: 2px;
    }
    .title {
        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -1.6px;
        color: #ffc234;
        margin-bottom: 16px;
    }
    .desc {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #ffffff;
    }
    @media (max-width: 1440px) {
        .subtitle {
            font-size: 48px;
        }
        .title {
            font-size: 64px;
        }
    }
    @media (max-width: 992px) {
        .hero-content {
            flex-direction: column-reverse;
            justify-content: center;
            padding-top: 0;
            .left {
                width: 100%;
            }
            .right {
                width: 60%;
            }
        }
        .subtitle {
            font-size: 44px;
            letter-spacing: 2px;
        }
        .title {
            font-size: 64px;
            margin-bottom: 12px;
        }
        .desc {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    @media (max-width: 576px) {
        padding: 126px 0 50px;
        .hero-content {
            .right {
                width: 100%;
            }
        }
        .subtitle {
            font-size: 15px;
            line-height: 120%;
        }
        .title {
            font-size: 36px;
            line-height: 120%;
        }
        .desc {
            font-size: 16px;
            line-height: 150%;
        }
    }
}
