.reveal-modal {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    color: #fff;
    border: 1px solid #fff !important;
    outline: none;
    width: 760px;
    padding: 40px;
    display: flex;
    gap: 40px;
    font-family: "Inter";
    .left {
        width: 300px;
    }
    .right {
        flex: 1;
    }
    .img-blind-box {
        width: 100%;
        border-radius: 24px;
    }
    .step-0, .step-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .actions{
        display: flex;
        gap: 20px;
    }
    .btn-trans {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        padding: 12px 24px;

        border: 1px solid rgba(255, 255, 255, 0.18);
border-radius: 30px;
cursor: pointer;
    }
    .btn-blue {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        padding: 12px 24px;

        background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
border-radius: 30px;
cursor: pointer;
    }
    .img-loading{
        width: 120px;
        height: 120px;
    }
    .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.02em;
        margin-bottom: 12px;
    }
    .desc {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
    }
}
