.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mb-20 {
  margin-bottom: 20px;
}

.header-body-open {
  z-index: 1000;
}

.text-right {
  text-align: right;
}

.hover-move {
  transition: transform 0.3s;
  &:hover {
    transform: translateY(-4px);
  }
}

.doc-page {
  color: #000;
  font-family: "Roboto";
  padding-top: 120px;
  .page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 40px;
  }
  .block {
    margin-bottom: 60px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      line-height: 150%;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  @media (max-width: 992px) {
    padding-top: 72px;
    .page-title {
      margin: 44px 0;
      font-size: 28px;
      line-height: 36px;
    }
    .block {
      margin-bottom: 44px;
      h2 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  font-family: "DM Sans", "poppins", -apple-system, BlinkMacSystemFont, "PingFang SC", "Myriad Pro", "Hiragino Sans GB",
    "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.spirit-banner {
  font-family: "Inter";
  background: url("./assets/images/spirit-banner-bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  .title1 {
    margin-top: 76px;
    font-weight: 400;
    color: #ffffff;
    font-size: 39px;
    line-height: 100%;
    letter-spacing: 30px;
    margin-bottom: 40px;
  }
  .title2 {
    font-weight: 900;
    font-size: 74px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 6px;
    color: #ffffff;
  }
  .title3 {
    color: #ffe176;
    margin-bottom: 40px;
  }
  .start-btn {
    background: #fc803b;
    border-radius: 28px;
    width: 350px;
    padding: 15px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.36px;
    color: #ffffff;
    text-decoration: none;
  }
  @media (max-width: 992px) {
    .title1 {
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 10px;
      margin-bottom: 24px;
    }
    .title2 {
      font-size: 36px;
      margin-bottom: 24px;
      letter-spacing: 0;
    }
    .start-btn {
      font-size: 16px;
      padding: 10px 0;
      width: 300px;
    }
  }
  @media (max-width: 576px) {
    .title1 {
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 4px;
      margin-bottom: 16px;
    }
    .title2 {
      font-size: 28px;
      margin-bottom: 16px;
    }
    .start-btn {
      width: 100%;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}
