.utils-container {
    padding: 120px 0;
    .content {
        display: flex;
        .left {
            width: 50%;
        }
        .right {
            width: 50%;
        }
    }
    .side-bar-para {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.355556px;
        color: #594d6d;
    }
    .slogan {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.355556px;
        color: #000000;
        margin-top: 32px;
    }
    .tag {
        padding: 5px 10px;
        background: #27ae60;
        border-radius: 23px;
        font-weight: 700;
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        color: #ffffff;
        display: inline-block;
        margin: 10px 0;
    }
    .main-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #ffc234;
    }
    .option {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -1.6px;
        color: rgba(255, 255, 255, 0.4);
        margin: 60px 0;
        &.selected-option {
            color: rgba(255, 255, 255, 1);
        }
    }
    @media (max-width: 992px) {
        padding: 72px 0;
        .content {
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
            }
        }
    }

    @media (max-width: 576px) {
        .main-title {
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            color: #ffc234;
            margin-bottom: 20px;
        }
    }
}
